<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <v-app
          dark
          id="inspire"
        >
          <v-navigation-drawer
            fixed
            clipped
            v-model="drawer"
            app
          >
            <v-list dense>
              <v-list-tile v-for="item in items" :key="item.text" @click="">
                <v-list-tile-action>
                  <v-icon>[[ item.icon ]]</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>
                    [[ item.text ]]
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-subheader class="mt-3 grey--text text--darken-1">SUBSCRIPTIONS</v-subheader>
              <v-list>
                <v-list-tile v-for="item in items2" :key="item.text" avatar @click="">
                  <v-list-tile-avatar>
                    <img :src="`https://randomuser.me/api/portraits/men/${item.picture}.jpg`" alt="">
                  </v-list-tile-avatar>
                  <v-list-tile-title v-text="item.text"></v-list-tile-title>
                </v-list-tile>
              </v-list>
              <v-list-tile class="mt-3" @click="">
                <v-list-tile-action>
                  <v-icon color="grey darken-1">add_circle_outline</v-icon>
                </v-list-tile-action>
                <v-list-tile-title class="grey--text text--darken-1">Browse Channels</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="">
                <v-list-tile-action>
                  <v-icon color="grey darken-1">settings</v-icon>
                </v-list-tile-action>
                <v-list-tile-title class="grey--text text--darken-1">Manage Subscriptions</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-navigation-drawer>
          <v-toolbar
            color="red"
            dense
            fixed
            clipped-left
            app
          >
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-icon class="mx-3">fa-youtube</v-icon>
            <v-toolbar-title class="mr-5 align-center">
              <span class="title">Youtube2.0</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-layout row align-center style="max-width: 650px">
              <v-text-field
                placeholder="Search..."
                single-line
                append-icon="search"
                :append-icon-cb="() => {}"
                color="white"
                hide-details
                
                v-model='keyword' @keyup.enter='search'
              ></v-text-field>
            </v-layout>
          </v-toolbar>
          <v-content>
            
                <v-layout>
                        <v-flex xs12 sm6 offset-sm3>
                          <v-card v-for="rec in records">
                            <v-card-media
                              class="white--text"
                              height="200px"
                              v-bind:src="rec.imageurl"
                            >
                              <v-container fill-height fluid>
                                <v-layout fill-height>
                                  <v-flex xs12 align-end flexbox>
                                    <span class="headline">[[ rec.title ]]</span>
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </v-card-media>
                            <v-card-title>
                              <div>
                                <span class="grey--text">[[ rec.pubtime ]]</span><br>
                                <span>[[ rec.title ]]</span><br>
                                <span>[[ rec.vlen ]]</span><br>
                                <span>[[ rec.cview ]]</span><br>
                                <!--span>[[ rec.clike ]]</span><br-->
                                <!--span>[[ rec.chate ]]</span><br-->
                                <span>[[ rec.owner ]]</span><br>
                                <!--span>[[ rec.subscribe ]]</span-->
                 
                              </div><br>
                            </v-card-title>
                            <v-card-actions>
                                <a :href="'/mp3-dl/' + rec.url.substring(32)" target="_blank"  style="text-decoration: none">
                            <v-btn flat color="orange">Download</v-btn>
                              </a>
                              <a target="_blank"  style="text-decoration: none" v-bind:href="rec.url">
                                <v-btn flat color="orange">Explore</v-btn>
                              </a>
                            </v-card-actions>
                          </v-card>
                        </v-flex>
                      </v-layout>



          </v-content>
        </v-app>
      </div>
 
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
      
        new Vue({
    el: '#app',
    data: {
        drawer: true,
        // search pattern
        keyword: '',

        items: [
          { icon: 'trending_up', text: 'Most Popular' },
          { icon: 'subscriptions', text: 'Subscriptions' },
          { icon: 'history', text: 'History' },
          { icon: 'featured_play_list', text: 'Playlists' },
          { icon: 'watch_later', text: 'Watch Later' }
        ],
        items2: [
          { picture: 28, text: 'Joseph' },
          { picture: 38, text: 'Apple' },
          { picture: 48, text: 'Xbox Ahoy' },
          { picture: 58, text: 'Nokia' },
          { picture: 78, text: 'MKBHD' }
        ],
        /*
        records: [
          {
              url : 'https://www.youtube.com/watch?v=r-d5HI-zC3I',
              imageurl: 'https://img.youtube.com/vi/r-d5HI-zC3I/hqdefault.jpg',
              title: 'Jesse McCartney - Better With You (Official Video)',
              vlen: '3:31',
              cview: '6335057',
              clike: '120000',
              chate: '1540',
              owner: 'Jesse McCartney',
              pubtime: '20180323',
              subscribe: '400000'
          }
      ]
      */
      records:[]
      },
      methods:  {
        async search()    {
            let result = null
            result = await axios.get('/search', { 'params': { 'query':this.keyword } })
            // return value will be packed under 'data'......
            this.records = result.data
            // console.log(this.records)
        },
       
      },

      props: {
        source: String
      },
      // flask uses jinja to parse, it will cause some conflict
      // so the delimiter should be redefine
      delimiters: ['[[',']]'],

  })
    </script>
</body>
</html>